
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-cont {
    display:flex;
    flex-direction: column;
}

.first-quarter, .fourth-quarter {
    flex: 1 1 25%;
    padding: 0 20%;
}

.second-quarter, .third-quarter {
    flex: 1 1 25%;
    padding: 0 25%;
}

.header {
    display: flex;
    background-color: #1F2937;
    height: 75px;
    padding: 0 20%;
}

.header div {
    align-items: center;
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    color:#E5E7EB;
    gap: 24px;
}

.quarters {
    display: flex;
    flex-direction: column;
}

.first-quarter {
    display:flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.left-f {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.left-f-heading {
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left-f-body {
    flex:1;
    font-size: 18px;
    color: #E5E7EB;
}

.left-f-button button {
    background-color: #3882F6;
    color: white;
    border-radius:4px;
    border: none;
    padding: 12px 36px;
    font-size: 18px;
    font-weight: bold;
}


.right-f {
    display: flex;
    flex: 1;
    max-width: max-content;
}

.big-img {
    display: flex;
    min-width: 545px;
    min-height: 250px;
    background-color: grey;
    color: white;
    align-items: center;
    justify-content: center;
}

.big-img img{
    display: flex;
    max-width: 500px;
}

.second-quarter {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.sq-heading {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.sq-gallery {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.sq-gallery img {
    min-width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.sq-gallery p {
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    max-width: 200px;
}

.third-quarter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #1F2937;
    background-color: #E5E7EB;
}

.test-quote {
    display: flex;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}
.attr {
    display: flex;
    align-self: flex-end;
    color: #1F2937;
    font-weight: 900;
    font-size: 24px;
}

.fourth-quarter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-extra-cont {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-evenly;
    color: #E5E7EB;
    border-radius: 10px;
    min-height: 150px;
    min-width: -webkit-fill-available;
    padding-left: 15%;
    padding-right: 15%;
}

.fo-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
}

.fo-left-h {
    font-size: 24px;
    font-weight: bold;
}

.fo-left-text {
    font-size: 18px;
}

.divbutton {
    display:flex;
}

.f-extra-cont button {
    font-size: 18px;
    font-weight: bold;
    color:#E5E7EB;
    background-color: #3882F6;
    border: 3px solid #E5E7EB;
    border-radius: 10px;
    padding: 5px 25px;
}

.footer {
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
    background-color: #1F2937;
    height: 150px;
    align-items: center;
}


/* Testing flexbox*/


